body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

button {
  height: 50px;
  width: 200px;
  font-size: large;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  padding: 30px 10px;
  align-items: center;
  width: 100vw;
}

footer section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: absolute;
}

footer section#footer-right {
  right: 40px;
}

footer section#footer-left {
  left: 40px;
}

footer p#footer-desc {
  font-size: small;
}

footer p#copyright {
  font-size: small;
}

#click-count {
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
